if (page > 1)
	a(href='' class='scoreboard__paginator-left' name='paginator-link' value=page - 1)= '<'
else
	|<

case page
	when 1
		- var i = 1;
		- var tailpage = 1;
		- var points = '';
		if (1 + step < count)
			- tailpage = step + 1;
			- points = '...';
		else
			- tailpage = count - 1;
		while i <= tailpage
			a(href='' class='scoreboard__paginator-link' name='paginator-link')= i++
		i= points
		a(href='' class='scoreboard__paginator-link' name='paginator-link')= count

	when count
		- var headpage = 1;
		if (1 + step < count)
			- headpage = count - step;
			a(href='' class='scoreboard__paginator-link' name='paginator-link')= 1
			|...
		else
			- headpage = 1;
		while headpage <= count
			a(href='' class='scoreboard__paginator-link' name='paginator-link')= headpage++

	default
		if (page - 1 > step)
			a(href='' class='scoreboard__paginator-link' name='paginator-link')= 1
			|...
			- var i = page - step;
			while i <= page
				a(href='' class='scoreboard__paginator-link' name='paginator-link')= i++
		else
			- var i = 1;
			while i <= page
				a(href='' class='scoreboard__paginator-link' name='paginator-link')= i++

		if (count - page > step)
			-var i = page + 1;
			while i <= page + step
				a(href='' class='scoreboard__paginator-link' name='paginator-link')= i++
			|...
			a(href='' class='scoreboard__paginator-link' name='paginator-link')= count
		else
			-var i = page + 1;
			while i <= count
				a(href='' class='scoreboard__paginator-link' name='paginator-link')= i++


if (page < count)
	a(href='' class='scoreboard__paginator-right' name='paginator-link' value=page + 1)= '>'
else
	|>
